﻿
@{
    ViewBag.Title = "Feature1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feature1</h2>

<script type="text/javascript">
    var Customer = function(customer) {
        var self = this;
        self.FirstName = ko.observable(customer.FirstName);
        self.LastName = ko.observable(customer.LastName);
        self.Address = ko.observable(customer.Address);
        self.City = ko.observable(customer.City);
        self.CountryId = ko.observable(customer.CountryId);
        return self;
    };

    var customer = {
        FirstName: 'Ion',
        LastName: 'Roata',
        Address: 'Cucuietii din Deal'
    };
    var viewModel = Customer(customer);
    ko.applyBindings(viewModel);
</script>

<div>
    <div>
        <strong>First name:</strong><span data-bind="text:FirstName"></span>
        <strong>Last name:</strong><span data-bind="text:LastName"></span>
        <strong>Address:</strong><span data-bind="text:Address">
        <strong>City:</strong><span data-bind="text:City"></span>
        <strong>Country:</strong><span data-bind="text:CountryId"></span>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
}
